<footer class="site-footer">

  <div class="footer__wrapper--light">

    <ul class="footer--nav">
      <li class="footer--nav__header">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud">Products</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud" class="nav--item__link">Bluemix Private Cloud</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud" class="nav--item__link">Hybrid Cloud</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud" class="nav--item__link">Pricing</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/private-cloud-faq" class="nav--item__link">FAQs</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.blueboxcloud.com/products/our-data-centers" class="nav--item__link">Data Centers</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://blueboxstatus.com/" class="nav--item__link">System Status</a>
      </li>
    </ul>

    <ul class="footer--nav">
      <li class="footer--nav__header">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud">Our Story</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud" class="nav--item__link">About Us</a>
      </li>
    </ul>

    <ul class="footer--nav">
      <li class="footer--nav__header">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud">Resources
        </a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud">Case Studies</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud" class="nav--item__link">Resources</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud" class="nav--item__link">Videos</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/cloud-computing/bluemix/bluemix-private-cloud" class="nav--item__link">News</a>
      </li>
    </ul>

    <ul class="footer--nav">
      <li class="footer--nav__header">
        <a href="hhttps://www.ibm.com/blogs/bluemix/">Recent Blog Posts</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/blogs/bluemix/2016/07/the-power-of-openstack/" class="nav--item__link">The Power of OpenStack</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/blogs/bluemix/2016/08/blue-box-storage-models-explained/" class="nav--item__link">IBM Bluemix Private Cloud Storage Models</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.blueboxcloud.com/insight/blog-article/github-ibm-com-running-on-blue-box" class="nav--item__link">IBM Github Runs on Bluemix Private Cloud</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/blogs/bluemix/2016/10/building-up-to-openstack/" class="nav--item__link">Building up to OpenStack</a>
      </li>
      <li class="footer--nav__item">
        <a href="https://www.ibm.com/blogs/bluemix/2016/07/keystone-to-keystone-federated-identity-on-blue-box-cloud/" class="nav--item__link">Get Started with Keystone Federation</a>
      </li>
    </ul>
  </div>
  <div class="footer__wrapper--dark">
    <ul class="footer--list">
      <li class="list--item">
        <a href="https://www.facebook.com/BlueBoxGroup/" class="list--item__link">Facebook</a>
      </li>
      <li class="list--item">
        <a href="https://twitter.com/bluebox?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="list--item__link">Twitter</a>
      </li>
      <li class="list--item">
        <a href="https://www.linkedin.com/company/blue-box-group" class="list--item__link">LinkedIn</a>
      </li>
      <li class="list--item">
        <a href="https://plus.google.com/+BlueBoxSeattle/posts" class="list--item__link">Google +</a>
      </li>
      <li class="list--item">
        <a href="https://github.com/blueboxgroup" class="list--item__link">GitHub</a>
      </li>
    </ul>

    <ul class="footer--list">
      <li class="list--item">
        <a href="https://www.blueboxcloud.com/get-in-touch/contact-us" class="list--item__link">Contact</a>
      </li>
      <li class="list--item">
        <a href="https://www.blueboxcloud.com/legal" class="list--item__link">Legal</a>
      </li>
      <li class="list--item">
        <a href="https://www.blueboxcloud.com/legal/privacy-policy" class="list--item__link">Privacy Policy</a>
      </li>
      <li class="list--item">
        <a href="https://www.blueboxcloud.com/legal/website-terms" class="list--item__link">Terms and Conditions</a>
      </li>

    </ul>
  </div>
  <div class="footer__wrapper--black">
    <p>
        &copy; 2017 IBM Bluemix
    </p>
  </div>
</footer>
