<div class="search--pageview">

  <div class="full-view__search hide">
    <a href="" class="x hide">X</a>
    <ul id="results-container"></ul>
    <ul class="results--container"></ul>

  </div>
  <div class="input-container">
    <label for="search__fullview" class="hide search--label">Search Bluemix on OpenStack Help</label>
    <input type="text" id="search-input" placeholder="" name="search" class="search__minview--page">
    <img src="{{ site.baseurl }}/img/search.svg" class="search-icon" />
  </div>
</div>
