
<div class="sidebar sidebar--toggled">
  <ul class="sidebar__nav">
    <li>
      <h3 class="title">
        <a {% if page.url == '/gettingstarted/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/gettingstarted' }}">Getting Started ({{ site.gettingstarted.size }})</a>
        <a href="" class="expand"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list">
        {% assign count = 0 %}
        {% assign gs = site.gettingstarted | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="hidden non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
        <li><a href="" class="page-link view">View More ( {{ count }} )</a></li>
      </ul>
    </li>
    <li>
      <h3 class="title">
        <a {% if page.url == '/troubleshooting/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/troubleshooting' }}">Troubleshooting ({{ site.troubleshooting.size }})</a>
        <a href="" class="expand"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list">
        {% assign count = 0 %}
        {% assign ts = site.troubleshooting | sort:"weight" %}
        {% for node in ts %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="hidden non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
        <li><a href="" class="page-link view">View More ( {{ count }} )</a></li>
      </ul>
    </li>
    <li>
      <h3 class="title">
        <a {% if page.url == '/openstack/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/openstack' }}">Open Stack ({{ site.userdocs.size | plus:site.api.size }})</a>
        <a href="" class="expand"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list">
        <h5 class="sub__head">User Docs</h5>
        {% assign count = 0 %}
        {% assign ud = site.userdocs | sort:"weight" %}
        {% for node in ud %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="hidden non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
        <li><a href="" class="page-link view">View More ( {{ count }} )</a></li>
      </ul>

      <ul class="article__list">
        <h5 class="sub__head">API</h5>
        {% assign count = 0 %}
        {% assign api = site.api | sort:"weight" %}
        {% for node in api %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="hidden non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
        <li><a href="" class="page-link view">View More ( {{ count }} )</a></li>
      </ul>
    </li>




    <li>
      <h3 class="title">
        <a {% if page.url == '/horizon/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/horizon' }}">Horizon [GUI] ({{ site.horizon.size }})</a>
        <a href="" class="expand rotate"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list slide-up-hidden">
        {% assign count = 0 %}
        {% assign gs = site.horizon | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li>
      <h3 class="title">
        <a {% if page.url == '/nova/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/nova' }}">Nova [Compute] ({{ site.nova.size }})</a>
        <a href="" class="expand rotate"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list slide-up-hidden">
        {% assign count = 0 %}
        {% assign gs = site.nova | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li>
      <h3 class="title">
        <a {% if page.url == '/neutron/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/neutron' }}">Neutron [Networking] ({{ site.neutron.size }})</a>
        <a href="" class="expand rotate"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list slide-up-hidden">
        {% assign count = 0 %}
        {% assign gs = site.neutron | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li>
      <h3 class="title">
        <a {% if page.url == '/glance/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/glance' }}">Glance [Images] ({{ site.glance.size }})</a>
        <a href="" class="expand rotate"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list slide-up-hidden">
        {% assign count = 0 %}
        {% assign gs = site.glance | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li>
      <h3 class="title">
        <a {% if page.url == '/cinder/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/cinder' }}">Cinder [Block Storage] ({{ site.cinder.size }})</a>
        <a href="" class="expand rotate"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list slide-up-hidden">
        {% assign count = 0 %}
        {% assign gs = site.cinder | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li>
      <h3 class="title">
        <a {% if page.url == '/keystone/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/keystone' }}">Keystone [Identity] ({{ site.keystone.size }})</a>
        <a href="" class="expand rotate"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list slide-up-hidden">
        {% assign count = 0 %}
        {% assign gs = site.keystone | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li>
      <h3 class="title">
        <a {% if page.url == '/heat/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/heat' }}">Heat [Orchestration] ({{ site.heat.size }})</a>
        <a href="" class="expand rotate"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list slide-up-hidden">
        {% assign count = 0 %}
        {% assign gs = site.heat | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>


    <li>
      <h3 class="title">
        <a {% if page.url == '/ceilometer/' %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ site.baseurl | append: '/ceilometer' }}">Ceilometer [Telemetry] ({{ site.ceilometer.size }})</a>
        <a href="" class="expand rotate"><img src="{{ site.baseurl }}/img/arrow.svg" /></a>
      </h3>
      <ul class="article__list slide-up-hidden">
        {% assign count = 0 %}
        {% assign gs = site.ceilometer | sort:"weight" %}
        {% for node in gs %}
          {% if node.featured == true %}
          <li>
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% elsif node.featured == false %}
            {% assign count = count | plus: 1 %}
          <li class="non-featured">
              <a {% if page.url == node.url %}class="page-link--active" {% else %}class="page-link"{% endif %} href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

  </ul>
</div>
