// Search DIV

.search {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 3em 2em 4em;
  height: auto;
  background-color: $white;
  align-items: center;
  justify-content: center;

  label {
    text-align: center;
    padding-bottom: 1em;
    color: $dark-blue;
    font-family: 'Helvetica';
    font-size: $font-32;
  }
}

.results--container {
  height: 100%;
  width: 80%;
  overflow: auto;
  margin-left: 0;
  margin-top: 200px;

  @media (max-width: 800px) {
    padding: 2em;
    width: 100%;
  }

  ul {
    margin-left: 0;
  }

  .search--item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: .5em;

    &:hover {
      background-color: $light-gray;
    }
  }
}

.item--title {
  font-size: $font-18;
  color: $black;
  font-weight: 600;
  width: 100%;
}

.tag--list {
  display: flex;
  flex-direction: row;
}

.tag {
  background-color: $blue-10;
  color: $white;
  padding: .25em .5em;
  margin: 1em .2em 0;
  display: inline-block;
  font-weight: 400;
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .search--label {
    position: fixed;
    font-size: $font-24;
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
  }
}

.full-view__search {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  opacity: 1;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .item--title {
    padding-bottom: .25rem;
    border-bottom: 1px solid $gray;
  }

  .tag {
    margin-top: .5em;
  }
}

.search__minview {
  z-index: 1000000 !important;
  width: 60%;
  height: 60px;
  margin-left: 10px;
  vertical-align: baseline;
  text-transform: uppercase;
  color: $dark-blue;
  padding-left: 1em;
  border: 2px solid $grey-color-light;
  border-right: 0;
  background: none;
  font-size: 2em;
  font-style: italic;
}

.search__fullview {
  z-index: 1000000 !important;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 3em;
  border-bottom: 3px solid $dark-blue;
  color: $blue;
}

.show {
  z-index: 100;
  transition: opacity 200ms;
}

.hide {
  z-index: -999;
  opacity: 0 !important;
}

.scroll {
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

.x {
  position: fixed;
  top: 10%;
  right: 2%;
  display: flex;
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: .2s;
  opacity: 1;
  color: $dark-blue;
  border: 2px solid $dark-blue;
  border-radius: 50%;
  background-color: $white;
  font-family: 'Arial';
  font-size: 1em;
  font-weight: 300;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $white;
    background-color: $dark-blue;
  }
}

#results-container {
  position: absolute;
  left: -99999px;
  opacity: 0;
}
