$blue: #3E76C0;
$blue-alt: #3364A7;
$dark-blue: #2C3F4A;
$light-blue: #DFE6EB;
$white: #fefefe;

// UPDATED COLORS
$blue-00: #325c80;
$blue-10: #107ec2;
$blue-20: #5596e6;
$blue-30: #7cc7ff;
$blue-40: #e4f2fd;
$black: #323232;
$dark-gray: #6e6f72;
$gray: #c7c7c7;
$light-gray: #e0e0e0;

// FONT COLORS
$dark-font: #2D3F4A;
$light-font: #f3f3f3;
$font-32: 2rem;
$font-24: 1.5rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-14: .875rem;
$font-12: .75rem;
