---
layout: page
title: OpenStack
permalink: /openstack/
category: top-level
top-level: openstack
---

<div class="home">



  {% for page in site.openstack %}
    {% if page.title == 'API' %}
    <ul class="page--list">
      <li><a class="page--title" href="{{ '/openstack/' | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% for item in site.api %}
        {% if item.title %}
          {% if item.category != 'newton' %}
            <li><a class="page--link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    {% elsif page.title == 'User Docs' %}
    <ul class="page--list">
      <li><a class="page--title" href="{{ '/openstack/' | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% for item in site.userdocs %}
        {% if item.title %}
           {% if item.category != 'newton' %}
              <li><a class="page--link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}


  {% assign newton-count = 0 %}

     {% for item in site.horizon %}
       {% if item.title %}
        {% if item.category == 'newton' %}
          {% assign newton-count = newton-count | plus: 1 %}
        {% endif %}
       {% endif %}
    {% endfor %}

  {% if newton-count != 0 %}
    <ul class="page--list">
      <li class="page--title">OpenStack Newton release ({{ newton-count }})</li>
      {% for item in site.horizon %}
          {% if item.title %}
              {% if item.category == 'newton' %}
                <li><a class="page--link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
              {% endif %}
          {% endif %}
       {% endfor %}
      </ul>
  {% endif %}


</div>
